<div class="background-image">
    <div class="chat-header">
        <p>Available <span class="custom-text">chat</span></p>
    </div>
    <div class="chat-container">
        <div class="chat-item" *ngFor="let chat of this.ss.availableChats$?.value">
            <div class="chat-avatar">CS</div>
            <div class="chat-content">
                <div class="chat-time">2h ago</div>
                <div class="chat-name">Customer Support</div>
                <div class="chat-sender">{{chat.messages.at(-1)?.senderName}}:</div>
                <div class="chat-message">{{chat.messages.at(-1)?.body}}</div>
            </div>
        </div>
        <div *ngIf="!this.ss.completeChat$.value?.messages?.length">
            Sent the first message!
        </div>
    </div>
</div>