<div class="container">

    <div class="footer-container">
        <div class="social-link">
            <div class="icon"><i class="fa-brands fa-instagram"></i> </div>
            <div class="icon"><i class="fa-brands fa-twitter"></i> </div>
            <div class="icon"><i class="fa-brands fa-linkedin"></i> </div>
            <div class="icon"><i class="fa-brands fa-facebook"></i></div>
        </div>
        <div class="about-us-names">
            <div class="about-us">
                About us
            </div>
            <div class="names">
                <div class="name-container">Emanuele Quattrocchi</div>
                <div class="name-container">Gabriele Costa</div>
                <div class="name-container">Christian Manca</div>
                <div class="name-container">Abramo Albrigi</div>
                <div class="name-container">Laura Dal Bianco</div>
            </div>
        </div>

    </div>
    <div class="divisor"></div>
    <div class="rights">
        © 2024 GamePlannerV2. All rights reserved.
    </div>
</div>