<div class="background-image">
  <div class="chat-header">
    <p>Session <span class="custom-text">chat</span></p>
  </div>

  <div class="chat-container">
    <div class="chat-messages">
      <div *ngFor="let msg of this.ss.messageReceived$ | async" class="message" [ngClass]="{'sent-message': msg.senderName === user?.email, 
        'received-message': msg.senderName !== user?.email}">
        <strong>{{ user?.name }}</strong>
        <p>{{ msg.messages }}</p>
        <div class="message-footer">
          <small>{{ msg.timeStamp| date:'HH:mm' }}</small>
          <span class="read-status" *ngIf="msg.id === user?.name">
          </span>
        </div>
      </div>
    </div>

    <div class="chat-input">
      <div class="input-wrapper">
        <input [(ngModel)]="message" placeholder="Enter your message..." (keydown.enter)="sendMessage()">
        <div class="sent-icon" (click)="sendMessage()">
          <i class="fa-solid fa-circle-arrow-up"></i>
        </div>
      </div>
    </div>
  </div>
</div>